---
dataFileType: ".csv"
dirHeaders:
    raw_dir: "RAW/"
    cleaned_dir: "CLEAN/"
    transformed_dir: "TR/"
datasets:
    - set:
        name: "Election_Senatorial"
        tagline: "senatorial elections returns"
        directory: "SenatorialReturns/"
        year_start: 1984
        year_end: 2014
        year_increment: 2
        years_absent: []
        single_file: false
        data_labels: ["State", "County", "Dem. Votes", "Rep. Votes"]
        loc_single_column: false
        file_base: "returnsSenatorial_"
        fips_flag: false
    - set:
        name: "Election_Presidential"
        tagline: "presidential election returns"
        directory: "PresidentialReturns/"
        year_start: 1984
        year_end: 2012
        year_increment: 4
        years_absent: []
        single_file: false
        data_labels: ["State", "County", "Dem. Votes", "Rep. Votes"]
        loc_single_column: false
        file_base: "presidentialReturns_"
        fips_flag: false
    - set:
        name: "Median_Income"
        tagline: "median income"
        directory: "MedianIncome/"
        year_start: 2003
        year_end: 2013
        year_increment: 1
        years_absent: []
        single_file: false
        data_labels: ["State", "County", "MedianIncome"]
        loc_single_column: false
        file_base: "medianIncome_"
        fips_flag: true
    # - set:
    #     name: "Population"
    #     tagline: "raw population data"
    #     directory: "Population/"
    #     year_start: 1960
    #     year_end: 2010
    #     year_increment: 10
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "populationRaw"
    #     fips_flag: false
    # - set:
    #     name: "Percentage_Female"
    #     tagline: "gender"
    #     directory: "Gender/"
    #     year_start: 2000
    #     year_end: 2009
    #     year_increment: 1
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "genderRaw"
    #     fips_flag: false

    # - set:
    #     name: "Percentage_White"
    #     tagline: "race"
    #     directory: "Race/"
    #     year_start: 1960
    #     year_end: 2010
    #     year_increment: 10
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "raceRaw"
    #     fips_flag: false

    # - set:
    #     name: "Population_Density"
    #     tagline: "population density"
    #     directory: "PopulationDensity/"
    #     year_start: 1980
    #     year_end: 2010
    #     year_increment: 10
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "populationDensityRaw"
    #     fips_flag: false
    # - set:
    #     name: "Age_Plus_SixtyFive"
    #     tagline: "percentage of population older than 65"
    #     directory: "Age/"
    #     year_start: 2000
    #     year_end: 2009
    #     year_increment: 1
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "agePlus65Raw"
    #     fips_flag: false
    # - set:
    #     name: "Federal_Spending"
    #     tagline: "federal spending at the county level"
    #     directory: "FederalSpending/"
    #     year_start: 1983
    #     year_end: 2010
    #     year_increment: 1
    #     years_absent: []
    #     single_file: true
    #     loc_single_column: true
    #     file_base: "rawFederalSpending"
    #     fips_flag: false
...

# Only specification is we need to know if state/county is
# single column or two columns. If single, split with one method.
# If two columns, they must be labeled "State" and "County"
# respectivally. If single column. Column must be named "Location."
